.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Navbar {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{
  background-color: #60833A;
}
label{
  color: white;
  font-weight: 700;
}

.firstnameLabel {
  margin-left: 16%;
}

.lastnameLabel {
margin-right: 76%;
}

.text-center {
  text-align: center!important;
  color: #fff;
}

.text-center a {
  text-align: center!important;
  color: #fff;
  text-decoration:underline;
}

.form-control {
  width: 50%;
  border: 1.5px solid #e38b00;
  border-radius: 0.75rem;
}

.customFirst.form-control {
  margin-left: 46.5%;
  width: 45%;
}

.customLast.form-control {
  margin-right: 45.5%;
  width: 45%;
}

.form-row {
  margin-bottom: 20px;
}

.btn-primary-create-account {
  color: black;
  background-color: #e38b00 !important;
  border-color: #e38b00 !important;
  border-radius: 100rem !important;
  width: 20%;
  margin-left: 40%;
  margin-bottom: 10px;
  font-weight: 500
}
.btn-primary-login {
  color: black;
  background-color: #e38b00 !important;
  border-color: #e38b00 !important;
  border-radius: 100rem !important;
  width: 9%;
  margin-left: 46%;
  margin-bottom: 10px;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* arya added  */

/* .Formlife {
  margin-left: 34%;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 34%;
  margin-top: 2.5%;
  padding-top: 80px;
  padding-bottom: 80px;
}



#formBasic {
  border-radius: 30px;
      height: 40px;
      width: 200px;
      border: 1px solid #ddd;
      padding-left: 10px;
  }
  
  .btn.btn-primary-submit {
    border-radius: 30px;
    height: 40px;
    width: 140px;
    border: 1px solid #ddd;
    padding-left: 10px;
    background: #a5a5a5;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
  }
  
  .logincontainer  img {
    max-width: 80px;
  border-radius: 50%;
  } */

  /* end */